/* Legend Container Styles */
.legend-container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
	gap: 8px;
	width: 100%;
}

/* Legend Item Container Styles */
.legend-item {
	display: flex;
	align-items: center;
	gap: 8px;
	margin-right: 16px;
}

/* Legend Square Styles */
.legend-square {
	width: 16px;
	height: 16px;
}

.legend-square-fastest-overall {
	width: 16px;
	height: 16px;
	background-color: var(--fastest-lap-color);
}

.legend-square-personal-best {
	width: 16px;
	height: 16px;
	background-color: var(--personal-best-color);
}

.legend-square-overall-fastest {
	width: 16px;
	height: 16px;
	background-color: var(--overall-fastest-color);
}

.legend-square-overall-personal-best {
	width: 16px;
	height: 16px;
	background-color: var(--overall-personal-best-color);
}
